/* GENERAL */
body{
    background-color: gray;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: white;
    color: black;
    text-align: center;
}   

/* HEADER */
.sidebar{
    position: fixed;
    right: -250px;
    width: 200px;
    height: 100vh;
    background-color: #0f1c15;
    box-shadow: -5px 0 8px rgba(0, 0, 0, 0.2);
    padding: 2em 1.5em;
    display: flex;
    flex-flow: column;
    gap: 1em;
    transition: right 0.3s ease;
    z-index: 1000;
    align-items: center;
    top: 0;
}

.sidebar h3{
    margin: 0;
}

.sidebar a{
    text-decoration: none;
    color: #c4d7c4;
}

.sidebar a:hover{
    color: #a3d4a3;
}

.sidebar.show{
    right: 0;
}

.overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: none;
    z-index: 999;
}

.overlay.show{
    display: block;
}

nav{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: #0f1c15;
    color: #c4d7c4;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 998;
    box-shadow:#000000 0px 1px 5px 0px;
}

nav h1,
nav h2,
nav h3 {
    margin: 8px 0;
    padding: 0;
    text-align: left;
}

nav button{
    display: none;
}

nav a{
    text-decoration: none;
    color: #c4d7c4;
}

nav a:hover{
    color: #a3d4a3;
}

.name-img{
    display: flex;
    flex-flow: wrap row;
    align-items: center;
}

.self-img{
    width: 5em;
    border-radius: 20px;
    margin: 1em 1.5em 1em 1em;
}

.menu-navbar{
    display: flex;
    gap:10px;
    margin-right: 2em;
}

@media (max-width: 800px){

    nav{
        width: 100%;
    }

    .name-img{
        margin-right: 0;
    }

    .menu-navbar{
        margin-left: 10px;
    }

    .menu-navbar{
        display: none;
    }

    nav button {
        display: block;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 10px;
        position: relative;
        margin-right: 1em;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #c4d7c4;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
    }

    
    nav button:hover .bar {
        background-color: #a3d4a3;
    }
}

@media (max-width: 550px){
    nav{
        font-size: 10px;
    }

    .name-img{
        margin: 0em 0.5em 0em 0em;
    }
    
}

/* MAIN */
main{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: auto;
    min-height: calc(100vh - 112px);
    margin-top: 115px;
    gap: 10px;
    color: black;
    
}

.main-page{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    width: auto;
}

.card-formacoes{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dff7e8;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border: #333333 solid 2px;
    border-radius: 20px;
    min-width: 30em;
    max-width: 40em;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-formacoes:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card-formacoes ul{
    padding: 0;
    margin: 0em 0em 1em 0em;
    list-style: none;
}

.card-tecnologias{
    border: #2c3e2c solid 2px;
    background: #dff7e8;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border: #333333 solid 2px;
    border-radius: 20px;
    min-width: 30em;
    max-width: 40em;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-tecnologias:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.card-tecnologias ul{
    padding: 0;
    margin: 0em 0em 1em 0em;
    list-style: none;
}

.side{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.projects-main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    gap: 20px;
    padding: 1em 0.5em;
}

.project{
    display: flex;
    flex-direction: column;
    background: #dff7e8;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border: #333333 solid 2px;
    border-radius: 20px;
    padding: 1em;
    min-height: 15.3125em;
    min-width: 18em;
    max-width: 30em;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}



@media(max-width:800px){
    main{
        margin: 7em 0.5em 0em 0.5em;
        flex-flow: column;
        justify-content: space-evenly;
    }

    main h1{
        font-size: 25px;
    }

    .main-page{
        display: flex;
        flex-wrap: wrap;
        gap:20px;
        padding: 1em 1em;
    }
    .side{}

    .projects-main{
        flex-flow: column wrap;
        gap: 20px;
    }
}

@media(max-width: 550px){

    .card-formacoes{
        min-width: 22em;
    }

    .card-tecnologias{
        min-width: 22em;
    }
}

/* FOOTER */
footer{
    background-color: #0f1c15;
    color: #c4d7c4;
    padding: 1em;
}